body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}

.header-bg{
    background-color: #F0FFF0;
    height: 100%;
    padding-bottom: 1px;
}
.logo{
    width: 200px;
}
.bg-green{
    background-color: #21B573;
    border: none;
    border-radius: 32px;
    padding: 10px 25px !important;
    color: white;
}
.nav-style{
    padding: 10px 20px;
}
.green-color{
    color: #21B573;
}
.class-rm{
    width: 100%;
}
.study-item-section{
    margin-top: 75px;
}
.study-items{
    width: 85px;
    height: 85px;
    margin: 0 auto;
}
.card-body{
    text-align: center;
}
.cardf-boderr{
    border: none;
    background-color: white;
    border-radius: 32px !important;
}
.h-100{
    height: 270px !important;
    width: 270px;
    padding-top: 60px;
}
.card-title{
    margin-bottom: 0;
}
.study-items-bg{
    background-color: #F8FFFB;
    border: none;
}
.study-items-bg:hover{
    background-color: white;
    box-shadow: 4px 4px 22px #E5E5E5;
}
.courses-hl{
    text-align: center;
    font-size: 36px;
    color: #413960;
    margin-top: -50px;
    margin-bottom: 65px;
}
.o-c-img{
    width: 305px;
    height: 222px;
    margin: 20px auto;
}
.bc-text{
    text-align: left;
}
.bc-text button{
    margin-top: 15px;
    margin-bottom: 48px;
}
.courses-update{
    height: 25px;
}
.courses-update img{
    width: 24px;
    height: 24px;
    float: left;
    margin-top: -3px;
}
.courses-update p{
    float: right;
}
.online-c-bs{
    box-shadow: 15px 22px 38px #E5E5E5;
    border-radius: 20px;
}
.testimonial-hl{
    text-align: center;
    margin-bottom: 100px;
}
.test-img{
    width: 130px;
    float: right;
    padding-right: 20px;
}
.test-p{
    width: 583px;
    margin-top: 15px;
}
footer{
    background-color: #282531;
    color: white;
}
.footer-text{
    margin-top: 40px;
}
.footer-list{
    width: 103%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.footer-list h5{
    background-color: #282531;
    color: white;
    border: none;
    margin-left: 20px;
}
.footer-list a{
    background-color: #282531;
    color: white;
    border: none;
}

.copyroight-area{
    padding: 20px;
    text-align: center;
    display: block;
}
